        .newbg2 {
            float: left;
            width: 100%;
            height: 100%;
            background-image: url('../images/09.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            max-height: 100%;
            min-height: 100%;
            position: relative;
        }

        .newbg2:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background: rgba(0, 0, 0, 0.4);
            z-index: -1;
            min-height: 100%;
            height: 100vh;
            /* max-height: 100%;
        min-height: 100%;
        height: 100%; */
        }

        .vegtable_section {
            width: 100%;
            float: left;
        }

        .vegtable_section h2 {
            width: 100%;
            float: none;
            font-size: 22px;
            font-family: 'Montserrat-Regular';
            color: #ffffff;
            text-align: center;
            margin: 35px auto 35px auto;
            line-height: 32px;
            background: rgba(0, 0, 0, 0.2);
            padding: 12px 6px;
        }

        .boldcontentcolor {
            font-weight: bold;
            color: #4ac4ff !important;
            font-family: 'Montserrat-Regular';
        }

        .vegtable_section .fabricbox {
            width: 185px;
            height: 185px;
            object-fit: contain;
            text-align: center;
            border: 2px solid #c5c5c5;
            padding: 20px;
            background: rgba(0, 0, 0, 0.15);
            border-radius: 4px;
        }

        .fabricimages {
            width: 100%;
            float: left;
            text-align: center;
        }

        .vegtable_section .rightarrow {
            width: 160px;
            margin: 0px 75px;
            object-fit: contain;
        }

        .vegtable_section p {
            width: max-content;
            float: none;
            font-size: 16px;
            font-family: 'Montserrat-Light';
            color: #d4d4d4;
            text-align: center;
            margin: 10px auto;
            padding: 12px 18px;
            border: 1px solid #d8d8d8;
            background: rgba(0, 0, 0, 0.2);
        }

        .veg_sec2 {
            width: 100%;
            float: left;
            margin-bottom: 20px;
        }

        .veg_sec2 h3 {
            width: 100%;
            float: left;
            font-size: 20px;
            font-family: 'Montserrat-Regular';
            color: #ffffff;
            text-align: left;
            margin: 20px 0px;
            background: rgba(0, 0, 0, 0.1);
            padding: 15px 20px;
            text-align: center;
        }

        .buttonrange {
            width: 100%;
            float: none;
            text-align: center;
            margin: 0px auto;
            display: flex;
            justify-content: center;
        }

        .buttonrange button {
            /* background: #0bb300; */
            background: none;
            padding: 8px 14px;
            font-size: 20px;
            border-color: transparent;
            color: white;
        }

        .buttonrange button i {
            color: white;
            font-size: 20px;
        }

        .buttonrange .rangefield {
            /* background: #eaeaea;
    border-color: transparent;
    padding: 8px 14px;
    font-size: 20px;
    width: 92px;
    text-align: center;
    font-family: 'Montserrat-Light';
    margin: 0px 10px; */
            background-image: linear-gradient(45deg, #ffc107, #eac761, #ff8507);
            border: 5px solid #fff;
            padding: 8px 14px;
            font-size: 20px;
            width: 92px;
            text-align: center;
            font-family: 'Montserrat-Light';
            margin: 0px 10px;
            border-bottom-left-radius: 134px;
            border-bottom-right-radius: 98px;
            border-top-left-radius: 94px;
            border-top-right-radius: 90px;
            color: #fff;
        }

        .submit_btn {
            width: 100%;
            float: left;
            text-align: center;
        }

        .submit_btn .submit {
            padding: 14px 30px;
            border-radius: 4px;
            border: none;
            color: #fff;
            background: #28a745;
            font-family: 'Montserrat-Light';
            margin-top: 25px;
            box-shadow: 1px 1px #1d8c36, 2px 2px #1d8c36, 3px 3px #1d8c36, 4px 4px #1d8c36, 5px 5px #1d8c36, 6px 6px #1d8c36;
            -webkit-box-shadow: 1px 1px #1d8c36, 2px 2px #1d8c36, 3px 3px #1d8c36, 4px 4px #1d8c36, 5px 5px #1d8c36, 6px 6px #1d8c36;
            -moz-box-shadow: 1px 1px #1d8c36, 2px 2px #1d8c36, 3px 3px #1d8c36, 4px 4px #1d8c36, 5px 5px #1d8c36, 6px 6px #1d8c36;
        }

        .kitchen_section {
            width: 100%;
            float: left;
            margin-bottom: 35px;
        }

        .kitchen_section h2 {
            width: 80%;
            float: none;
            font-size: 24px;
            font-family: 'Montserrat-Regular';
            color: #ffffff;
            text-align: center;
            margin: 35px auto 35px auto;
            line-height: 32px;
            background: rgba(0, 0, 0, 0.2);
            padding: 12px 6px;
        }

        .kitchen_section h4 {
            width: 100%;
            float: left;
            font-size: 18px;
            font-family: 'Montserrat-Regular';
            color: #ffc107;
            text-align: left;
            margin: 12px 0px;
        }

        .kitchen_section ul li {
            width: 100%;
            float: left;
            list-style: none;
            color: #fff;
            font-size: 18px;
            padding: 6px 26px;
            font-family: 'Montserrat-Light';
            text-align: center;
        }

        .apple {
            width: 100%;
            float: left;
            text-align: center;
        }

        .kitchenselect {
            width: 100%;
            float: left;
            padding: 30px 20px;
            background: #fff;
            border-radius: 12px;
            border: 1px solid #f3b600;
            box-shadow: 3px 4px #f3b600, 5px 5px #f3b600, 7px 7px #f3b600;
            -webkit-box-shadow: 3px 4px #f3b600, 5px 5px #f3b600, 7px 7px #f3b600;
            -moz-box-shadow: 3px 4px #f3b600, 5px 5px #f3b600, 7px 7px #f3b600;
        }

        .applefield {
            border: none;
            width: 100%;
            border-bottom: 2px solid #31dc06;
            margin-top: 15px;
            padding: 10px;
            text-align: center;
            font-family: 'Montserrat-Light';
            color: #000000;
            background: #fffaf4;
        }

        .applebutton {
            margin-top: 10px;
            width: 49%;
            float: left;
            border: none;
            color: #fff;
            padding: 8px;
        }

        .clr-grn {
            background: #28a745;
        }

        .clr-red {
            background: #ff0000;
        }

        .submit1 {
            padding: 14px 30px;
            border-radius: 4px;
            border: none;
            color: #fff;
            background: #28a745;
            font-family: 'Montserrat-Light';
            margin-top: 25px;
            margin-bottom: 25px;
            box-shadow: 1px 1px #1d8c36, 2px 2px #1d8c36, 3px 3px #1d8c36, 4px 4px #1d8c36, 5px 5px #1d8c36, 6px 6px #1d8c36;
            -webkit-box-shadow: 1px 1px #1d8c36, 2px 2px #1d8c36, 3px 3px #1d8c36, 4px 4px #1d8c36, 5px 5px #1d8c36, 6px 6px #1d8c36;
            -moz-box-shadow: 1px 1px #1d8c36, 2px 2px #1d8c36, 3px 3px #1d8c36, 4px 4px #1d8c36, 5px 5px #1d8c36, 6px 6px #1d8c36;
        }

        .submit_btn1 {
            width: 100%;
            float: left;
            text-align: center;
        }

        .question3 {
            width: 100%;
            float: left;
            background: rgba(0, 0, 0, 0.3);
            margin-top: 45px;
            padding: 20px 0px;
        }

        .succ {
            font-size: 22px;
            color: #3dd200;
            font-family: 'Montserrat-Light';
        }

        button {
            cursor: pointer;
        }

        button:hover,
        button:focus,
        .submit:hover,
        .submit:focus,
        .submit1:hover,
        .submit1:focus {
            opacity: .8;
        }

        .kitchenselect1 {
            width: 100%;
            float: left;
            padding: 30px 20px;
        }

        .simulate {
            width: 100%;
            float: left;
        }

        .simulatequs {
            width: 100%;
            float: left;
            background: rgba(0, 0, 0, 0.2);
            padding: 18px;
            margin: 16px 0px;
        }

        .simulatequs h2 {
            width: 90%;
            float: none;
            font-size: 22px;
            font-family: 'Montserrat-Regular';
            color: #ffffff;
            text-align: center;
            margin: 25px auto 25px auto;
            line-height: 32px;
        }

        .simulateboldcontent {
            width: 100%;
            float: left;
        }

        .simulateboldcontent h3 {
            width: 100%;
            float: left;
            list-style: none;
            color: #cacaca;
            font-size: 20px;
            padding: 6px 26px;
            font-family: 'Montserrat-Regular';
        }

        .simulate_right {
            width: 100%;
            float: left;
            /* background: #0056af; */
            background-image: url('../images/cloud.png');
            color: #1b00ff;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            padding: 44px;
            text-align: center;
            font-family: 'Montserrat-Regular';
            font-size: 25px;
        }

        .simulate_table {
            width: 100%;
            float: left;
            margin-top: 10px;
        }

        .simultetablecontent {
            width: 100%;
            float: left;
            margin-top: 20px;
            background: rgba(33, 37, 41, 0.22);
        }

        .simultetablecontent td {
            /* font-family: 'Montserrat-Light';
  color: #fff;
  font-size: 14px; */
            padding: 12px 0px !important;
            border: 1px solid #808080 !important;
        }

        .simultetablecontent td h4 {
            font-family: 'Montserrat-Light';
            color: #fff;
            font-size: 14px;
            padding: 12px 2px !important;
            width: 100%;
        }

        .simultetablecontent td:nth-child(1) {
            width: 120px;
        }

        #slider label,
        #slider1 label,
        #slider2 label,
        #slider_sales label,
        #slider1_sales label,
        #slider2_sales label {
            margin-left: -15px !important;
            font-size: 12px;
        }

        .ui-slider label:nth-child(2n+3) {
            top: -50px;
        }

        .simultetablecontent th {
            font-family: 'Montserrat-Regular';
            color: #fff;
            background: rgba(59, 149, 226, 0.6);
            font-size: 14px;
            border: 0px !important;
            padding: 12px 22px !important;
        }

        .tablefield {
            border: none;
            background: none;
            text-align: center;
            padding: 12px 2px !important;
            color: #fff;
            font-family: 'Montserrat-Light';
            width: 100%;
            cursor: pointer;
        }

        .simulate_table h3 {
            width: 100%;
            float: left;
            list-style: none;
            color: #fff;
            font-size: 20px;
            padding: 10px 0px;
            font-family: 'Montserrat-Light';
        }

        @media (max-width: 1024px) and (min-width: 320px) {
            .simulate_table {
                overflow: scroll;
            }
        }

        .buttonrange img {
            width: 60px;
            height: 60px;
            object-fit: contain;
        }

        .video-game-button {
            text-shadow: 1px 1px pink, -1px -1px maroon;
            line-height: 1.5em;
            text-align: center;
            display: inline-block;
            /* width: 1.5em; */
            -webkit-border-radius: .75em;
            -moz-border-radius: .75em;
            -o-border-radius: .75em;
            border-radius: .75em;
            background-color: red;
            -webkit-box-shadow: 4px 4px maroon;
            -moz-box-shadow: 4px 4px maroon;
            -o-box-shadow: 4px 4px maroon;
            box-shadow: 4px 4px maroon;
            color: red;
            /* margin: 5px; */
            background-color: red;
            background-image: -o-linear-gradient(left top, pink 3%, red 22%, maroon 99%);
            background-image: -moz-linear-gradient(left top, pink 3%, red 22%, maroon 99%);
            background-image: -webkit-linear-gradient(left top, pink 3%, red 22%, maroon 99%);
            background-image: linear-gradient(left top, pink 3%, red 22%, maroon 99%);
            cursor: pointer;
            margin-right: 2%;
        }

        .video-game-button-green {
            text-shadow: 1px 1px #b8ffc8, -1px -1px #006717;
            line-height: 1.5em;
            text-align: center;
            display: inline-block;
            /* width: 1.5em; */
            -webkit-border-radius: .75em;
            -moz-border-radius: .75em;
            -o-border-radius: .75em;
            border-radius: .75em;
            background-color: #28a745;
            -webkit-box-shadow: 4px 4px #005f16;
            -moz-box-shadow: 4px 4px #005f16;
            -o-box-shadow: 4px 4px #005f16;
            box-shadow: 4px 4px #005f16;
            color: #28a745;
            /* margin: 5px; */
            background-color: #28A744;
            background-image: -o-linear-gradient(right bottom, #d0ffdb 3%, #28a745 22%, #005614 99%);
            background-image: -moz-linear-gradient(right bottom, #d0ffdb 3%, #28a745 22%, #005614 99%);
            background-image: -webkit-linear-gradient(right bottom, #d0ffdb 3%, #28a745 22%, #005614 99%);
            background-image: linear-gradient(right bottom, #d0ffdb 3%, #28a745 22%, #005614 99%);
            cursor: pointer;
        }

        .video-game-button:active,
        .video-game-button-green:active {
            box-shadow: none;
            position: relative;
            top: .2em;
        }

        button:focus {
            outline: none !important;
        }

        .red-bg .swal-button {
            background-color: #DD6B55 !important;
            border-color: #DD6B55 !important;
            outline: none !important;
        }

        .box {
            width: 100%;
            float: left;
            text-align: center;
            margin-top: 25px;
        }

        .box span {
            width: 190px;
            float: none;
            text-align: center;
            font-size: 20px;
            font-family: 'Montserrat-Regular';
            color: #fff;
            background: #0075a2;
            padding: 20px 10px;
            margin: 0px auto;
            display: block;
            border-radius: 4px;
            border: none;
            color: #fff;
            border-radius: 50px;
            border: 4px solid #fff;
            box-shadow: inset 2px -2px 2px #070b0e;
            -webkit-box-shadow: inset 2px -2px 2px #070b0e;
            -moz-box-shadow: inset 2px -2px 2px #070b0e;
            /* box-shadow: 1px 1px #006890, 2px 2px #006890, 3px 3px #006890, 4px 4px #006890, 5px 5px #006890, 6px 6px #006890; */
        }

        .box .boxtext {
            width: 190px;
            float: none;
            text-align: center;
            font-size: 20px;
            font-family: 'Montserrat-Regular';
            background: #00f3ff;
            padding: 20px 10px;
            margin: 0px auto;
            display: block;
            border-radius: 4px;
            border: none;
            color: #000;
            border-radius: 50px;
            border: 4px solid #fff;
            box-shadow: inset -2px -2px 2px #008ff3;
            -webkit-box-shadow: inset -2px -2px 2px #008ff3;
            -moz-box-shadow: inset -2px -2px 2px #008ff3;
            /* box-shadow: 1px 1px #00c4ce, 2px 2px #00c4ce, 3px 3px #00c4ce, 4px 4px #00c4ce, 5px 5px #00c4ce, 6px 6px #00c4ce; */
        }

        .middlearrow {
            width: 100%;
            float: left;
            text-align: center;
            margin-top: 25px;
        }

        .middlearrow img {
            width: 70px;
            object-fit: contain;
        }

        .box h2 {
            width: 100%;
            float: left;
            font-size: 18px;
            font-family: 'Montserrat-Regular';
            color: #ffbf00;
            background: rgba(0, 0, 0, 0.1);
            padding: 15px;
            border: 1px solid #ffbf0069;
            border-radius: 14px;
            box-shadow: 3px 3px 1px #ffbf00;
        }

        .clothshop {
            width: 100%;
            float: left;
            background: rgba(0, 0, 0, 0.2);
            padding-bottom: 20px;
        }

        .clothshop p {
            width: 100%;
            float: left;
            font-size: 16px;
            font-family: 'Montserrat-Light';
            color: #ffffff;
            margin: 8px 0px;
            padding: 0px 50px 0px 50px;
            text-align: center;
            line-height: 27px;
        }

        .clothimg {
            width: 100%;
            float: left;
            text-align: center;
            margin-top: 10px;
        }

        .clothimg img {
            width: 65%;
        }

        .clothshop h3 {
            width: 100%;
            float: left;
            font-size: 20px;
            font-family: 'Montserrat-Regular';
            color: #ff6363;
            /* background: #d2d2d2; */
            padding: 16px 12px;
            text-align: center;
            margin: 0px 0px;
        }

        .clothshop h2 {
            width: 90%;
            float: none;
            font-size: 22px;
            font-family: 'Montserrat-Regular';
            color: #ffffff;
            text-align: center;
            margin: 25px auto 25px auto;
            line-height: 32px;
        }

        .errclass {
            border: 3px solid #ff0000;
        }

        .blackt-shirts {
            width: 100%;
            float: left;
            background: rgba(0, 0, 0, 0.2);
        }

        .blackt-shirts h2 {
            width: 90%;
            float: none;
            font-size: 20px;
            font-family: 'Montserrat-Regular';
            color: #ffffff;
            text-align: center;
            margin: 25px auto 25px auto;
            line-height: 32px;
        }

        .blacktshirtimage {
            width: 100%;
            float: left;
            text-align: center;
        }

        .blacktshirtimage img {
            width: 40%;
        }

        .blacktshirtimage2 {
            width: 100%;
            float: left;
            text-align: center;
            margin-top: 30px;
        }

        .blacktshirtimage2 img {
            width: 95%;
            object-fit: contain;
        }

        .blackshirtinput {
            width: 100%;
            float: left;
            text-align: center;
        }

        .blackshirtinput h4 {
            width: 100%;
            float: left;
            font-size: 20px;
            font-family: 'Montserrat-Regular';
            color: #ffffff;
            text-align: center;
            margin: 18px auto 25px auto;
        }

        .blackshirtinput span {
            padding: 16px 40px;
            text-align: center;
            /* text-transform: uppercase; */
            transition: 0.5s;
            background-size: 200% auto;
            color: white;
            /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2); */
            box-shadow: 0 0 7px #ecececcc;
            border-radius: 4px;
            background-image: linear-gradient(to right, #f6d365 0%, #fda085 51%, #f6d365 100%);
            font-family: 'Montserrat-Regular';
        }

        .blackfabric {
            border-radius: 4px;
            width: 200px;
            text-align: center;
            font-family: 'Montserrat-Regular';
            padding: 10px;
            background: rgba(0, 0, 0, 0.4);
            border-color: transparent;
            color: #fff;
        }

        .blackshirtinput {
            width: 100%;
            float: left;
            text-align: center;
        }

        .monthlyinner h3 {
            width: 100%;
            float: none;
            font-size: 22px;
            font-family: 'Montserrat-Regular';
            text-align: center;
            color: #a5d1ff;
        }

        .monthlysale {
            width: 100%;
            float: left;
            margin: 20px 0px;
            background: rgba(126, 155, 166, 0.28);
            padding: 10px;
            border-radius: 4px;
        }

        .monthlyinner {
            width: 100%;
            float: left;
            padding: 8px;
        }

        .monthlyunits {
            width: 100%;
            float: left;
            margin: 26px 0px 40px 0px;
        }

        .monthlyunitsinner {
            width: 100%;
            float: left;
            display: flex;
            margin-bottom: 25px;
        }

        .monthlyunitsinner h3 {
            width: 100%;
            float: left;
            font-size: 16px;
            font-family: 'Montserrat-Regular';
            text-align: right;
            color: #d5eaff;
            padding-right: 10px;
            margin: 0px;
            line-height: 50px;
        }

        .unitfield {
            border: 1px solid #fff;
            background: #240832d9;
            text-align: center;
            padding: 12px 2px !important;
            color: #fff;
            font-family: 'Montserrat-Light';
            width: 100%;
            cursor: pointer;
            border-radius: 2px;
            box-shadow: 1px 1px 3px #828282;
        }

        .unitgraph {
            width: 100%;
            float: left;
        }
        .unitvalues{
          width: 100%;
          float: left;
          margin-bottom: 30px;
        }
        .simulatequs h3 {
          width: 90%;
          float: none;
          font-size: 20px;
          color: #ffffff;
          text-align: center;
          margin: 5px auto 25px auto;
          line-height: 27px;
          font-family: 'Montserrat-Light';
      }
.simulatequs h3 span{
  font-family: 'Montserrat-Regular' !important;
      color: #b3c30d;
}
.simulatequs p {
    width: 100%;
    float: none;
    font-size: 15px;
    color: #22a527;
    text-align: center;
    margin: 5px auto 20px auto;
    line-height: 27px;
    font-family: 'Montserrat-Light';
}
